

<div class="producto">
    <section>
    <div class="image">
        <img src="http://media.steampowered.com/apps/440/icons/all_domination_large.ae4d9796302b1a2ccd51ffa603c037f49c6accbf.png" alt="Gastly Gibus">
    </div>
    <div class="detalles">
        <mat-card class="detalles-card">
            <h1>Nombre de producto: {{producto[0].nombre}}</h1>
            <p>Descripción: {{producto[0].descripcion }} </p>
            <p>Precio: {{producto[0].precio }}</p>
            <p>Stock: {{producto[0].stock }}</p>
            <p *ngIf="!calificacionesBool">Calificacion: {{calificacionEntrante}} Estrellas</p> 
            <p *ngIf="calificacionesBool">Calificacion: Este producto no ha sido calificado</p> 
            <div>
                <button mat-fab [disabled]="bool" (click)="carrito()" ><i id="icon" class="fas fa-cart-plus"></i></button>
                <p *ngIf="bool">Producto no disponible</p>
            </div>
        </mat-card>
    </div>
    
    <div class="comentarios">
        <label>Comentarios:</label>
        <mat-card class="comentarios-card" >
            <ul class="comentarios-list" *ngFor="let item of comentarioEntrantes">
                <li>
                    <mat-card class="comentarios-card-item">
                        <div>{{item.nombreUsuario}} comentó:</div> 
                        <div>{{item.contenido}}</div>
                     </mat-card>
                </li>
            </ul>
            <p *ngIf="comentBool">Este producto no tiene comentarios</p>
        </mat-card>
        <button mat-mini-fab class="adicionar" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"><i class="fas fa-plus"></i></button>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="seccion-comentario">
            <mat-card class="seccion-comentario-card">
            <form [formGroup]="form_comentario" (ngSubmit)="enviarComentario()">

                <ul class="add-comentario">
                <!-- aqui el usuario ingresa su nombre -->

            
            <li>
                <mat-label>Calificación:</mat-label>
            </li>    

                <li>
                <form [formGroup]="form_comentario" onsubmit="enviarComentario()">
                    <div class="rate">
                        <input type="radio" id="star5" name="calificacion" value="5" formControlName="calificacion" required />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="calificacion" value="4" formControlName="calificacion" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="calificacion" value="3" formControlName="calificacion" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="calificacion" value="2" formControlName="calificacion"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="calificacion" value="1" formControlName="calificacion"/>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </form>
                </li>

                <!--y aqui ingresa su comentario-->
                <li><mat-label>Deja tu Comentario:</mat-label></li>

                <li>
                    <textarea  placeholder="Ingresa tu Comentario aqui" formControlName="comentario" class="input" required></textarea>
                </li>

                <li>
                <button mat-button type="submit">Enviar</button>
                </li>
                <p *ngIf="sesion">Inicie sesion para comentar y calificar</p>

            </ul>
            </form>
            </mat-card>
        
             </div>
        
        </div>
        
    </div>
    
    </section>
</div>