*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
h1{
  text-align: center;
  
}
.background{
  background-color: #bfbfbf;
}
p{
 font-weight: bolder;
}
.ISemail{
 width: 50%;
}
.ISpass{
  width:50%;
}
.captcha{
 margin-left: 40%;
 margin-right: 50%;
 margin-top: 1%;
 margin-bottom: 1%;
}
.submit{
  margin-left: 40%;
 margin-right: auto;
 width: 10%;
 height: 5%;
}
