*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
ul{
    width: 100%;
    height: 4em;
    list-style-type: none;
    background-color: #ed6700;
    font-family: 'tf2';
}
div{
    float:right;
    margin-right:10em;
}

ul div li{
    margin-left:1em;
}

ul li{
   float:left; 
   padding-top:1em;
}

i{
    font-size: 2em;
}


