<section>

<div class="categorias">

<ul class="categorias-list">
 <li>
     <label for="filtro">Filtro:</label>
 </li>   
<li>
<button mat-button (onclick)="showAll()">Todos los Productos</button>
</li>

<li>
<button mat-button type="button"  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    Tipos
</button>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <ul class="categorias-merc-list">
                <li><button mat-button id="hats" value="hats" class="categorias-button" >Hats</button> </li>
                <li><button mat-button id="cosmetics" value="cosmetics" class="categorias-button" >Cosmetics</button></li>
            </ul>
        </div>
    </div>
</div>
</li>
</ul>
 </div>

<div class="productos">
    <ul class="productos-list">
        <a [routerLink]="['/producto']" routerLinkActive="router-link-active">
        <li>
            <mat-card class="productos-card" *ngFor="let item of productos">
                <div class="producto-descripcion">
                <img src="../../../assets/img/ghostlyGibus.png" class="imagen-producto">   
                <div>{{item.nombre}}</div>
                <div>${{item.precio}}</div>
                <div>Stock: {{item.stock}}</div>
                </div>
            </mat-card>
        </li>
        </a>
    </ul>

</div>
</section>