<section>

<div class="categorias">

<ul class="categorias-list">
 <li>
     <label for="filtro">Filtro:</label>
 </li>   
<li>
    <button mat-button (click)="showAll()">Todos los Productos</button>
</li>

<li>
<button mat-button type="button"  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    Tipos
</button>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <ul class="categorias-merc-list">
                <li><button mat-button id="hats" value="hats" class="categorias-button" (click)="filtrarCategorias('hat')" >Hats</button> </li>
                <li><button mat-button id="cosmetics" value="cosmetics" class="categorias-button" (click)="filtrarCategorias('cosmetic')">Cosmetics</button></li>
                <li><button mat-button id="crates" value="crates" class="categorias-button" (click)="filtrarCategorias('crate')">Crates</button></li>
                <li><button mat-button id="crates" value="crates" class="categorias-button" (click)="filtrarCategorias('key')">Keys</button></li>
            </ul>
        </div>
    </div>
</div>
</li>
</ul>
 </div>

<div class="productos" *ngIf="busqueda" >
    <ul class="productos-list">
        <li>
            <mat-card class="productos-card" *ngFor="let item of productos">
            <a><button (click)='productoSeleccionado(item.id)'>
                <div class="producto-descripcion">
                    <img src="{{item.imagen}}" class="imagen-producto">   
                    <div class="nombre-item">{{item.nombre}}</div>
                    <div class="precio-item">${{item.precio}}</div>
                    <div class="stock-item">Stock: {{item.stock}}</div>
                </div>
            </button></a>
            </mat-card>
        </li>
    </ul>
</div>

<div *ngIf="!busqueda">
    Actualmente no hay productos en esta categoria.
</div>

</section>