#headerEntero{
    width: 100%;
    background-color:#ed6700;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
#buscar{
    width: 50%;
}
  
 ul li {
    display:inline-block;
    list-style-type: none;
    text-align: left;
    font-family: 'tf2';
  }
  a{
      padding: 10px;
      font-family: 'tf2';
  }
#login{
    list-style-type: none;
}

  