<mat-toolbar>
<ul id='headerEntero'>
    <li><!--Nombre de la pagina con link a home-->
        <a routerLink="/home" routerLinkActive="router-link-active" >TF2 SHOP</a>
    </li>
    <li id='buscar'><!--barra de buscar-->
            <mat-form-field class="example-full-width">
              <mat-label>Buscar</mat-label>
              <input matInput #message [formControl]="search" maxlength="256" placeholder="Ejemplo: Gibus">
              <mat-hint align="start"><strong>Busca items</strong> </mat-hint>
            </mat-form-field>
            <!--<p>{{search.value}}</p>-->
    </li>
    <li>
        <button routerLink="/inter" (click)="searchProduct()">BUSCAR</button>
    </li>
    <li><!--icono de carrito de compras-->
        <a routerLink="carrito" routerLinkActive="router-link-active" >
        <button mat-mini-fab color="primary" aria-label="Carrito de Compras">
        <i class="fas fa-shopping-cart"></i>
        </button></a>
    </li>
    <li><!--icono de usario-->
            <a><i class="far fa-user"></i></a>
    </li>
    <li *ngIf='sesion==0'><!--hipervinculo hacia formularios de usuario-->
        <ul id='login'>
            <li><!--al inicio de sesion-->
                <a routerLink="/inicio-sesion" routerLinkActive="router-link-active" >Iniciar Sesion</a>
            </li>
            <li><!--a registrarce-->
                <a routerLink="/formulario" routerLinkActive="router-link-active" >Registrarse</a>
            </li>
        </ul>
    </li>
    <li *ngIf='sesion==1'><!--hipervinculo hacia formularios de usuario-->
        <ul id='login'>
            <li><!--al inicio de sesion-->
                <a routerLink="/inicio-sesion" routerLinkActive="router-link-active" >Cerrar Sesion</a>
            </li>
            <li><!--a registrarce-->
            </li>
        </ul>
    </li>
</ul>
</mat-toolbar>

<!--<mat-grid-list cols='5'>
    <mat-grid-title
</mat-grid-list>-->