<ul>
    <li>
        <button mat-mini-fab color="primary" aria-label="Carrito de Compras">
        <a><i class="fas fa-shopping-cart"></i></a>
        </button>
    </li>
    <li>
        <a><i class="far fa-user"></i></a>
    </li>
    <li>
        <mat-form-field id="titulo" class="align">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo" type="text" maxlength="40">
        </mat-form-field>
    </li>
</ul>
<!--<div class="header-container">
    <button mat-mini-fab color="primary" aria-label="Carrito de Compras">
        <i class="fas fa-shopping-cart"></i>
    </button>
    <i class="far fa-user"></i>
  </div>-->
 