<ul>
    <li>
        <mat-form-field class="example-full-width">
            <mat-label>Buscar</mat-label>
            <input matInput #message maxlength="256" >
            <mat-hint align="start"><strong>Buscar por categoria o item</strong> </mat-hint>

          </mat-form-field>
    </li>
    <li>
        <a><button mat-mini-fab color="primary" aria-label="Carrito de Compras">
            <i class="fas fa-shopping-cart"></i>
            </button></a>
    </li>
    <li>
            <a><i class="far fa-user"></i></a>
    </li>
</ul>
<!--<div class="header-container">
    <button mat-mini-fab color="primary" aria-label="Carrito de Compras">
        <i class="fas fa-shopping-cart"></i>
    </button>
    <i class="far fa-user"></i>
  </div>-->
 