<p>carrito works!</p>
<h1>CARRITO DE COMPRAS</h1>
<mat-list >
    <mat-list-item>
        <mat-button-toggle-group mat-list-item name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">item</mat-button-toggle>
            <mat-button-toggle value="italic">agregar</mat-button-toggle>
            <mat-button-toggle value="underline">X</mat-button-toggle>
          </mat-button-toggle-group>
    </mat-list-item>
    <mat-list-item> <mat-button-toggle-group mat-list-item name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-list-item>
    <mat-list-item> <mat-button-toggle-group mat-list-item name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-list-item>
</mat-list><!-- AQUI BLUCITO TE DEJO LA LISTA CON LOS BOTONES, YO SUPONGO QUE DEBE SER UN ngFor para dejar como "automatico"
el tema de que aparezcan botones,-->
