<div id="categorias">   
<button mat-button [matMenuTriggerFor]="menu">Categorias</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item value="soldier">Soldier</button>
    <button mat-menu-item value="scout">Scout</button>
    <button mat-menu-item value="pyro">Pyro</button>
    <button mat-menu-item value="heavy">Heavy</button>
    <button mat-menu-item value="demoman">Demoman</button>
    <button mat-menu-item value="engineer">Engineer</button>
    <button mat-menu-item value="medic">Medic</button>
    <button mat-menu-item value="sniper">Sniper</button>
    <button mat-menu-item value="spy">Spy</button>
</mat-menu>

</div>

<div id="ofertas">
    
</div>
