
<div id="categorias">   
<button mat-raised-button [matMenuTriggerFor]="menu" class="categorias">Categorias</button>
<mat-menu #menu="matMenu">
    <a routerLink="/categorias"><button mat-menu-item value="ofertas" class="categorias-button" (click)="categoriaSeleccionada('default')">Todos los Productos</button></a>
    <button mat-menu-item [matMenuTriggerFor]="mercs" class="categorias-button">Tipos</button>
</mat-menu>
<mat-menu #mercs="matMenu">
    <a routerLink="/categorias" (click)="categoriaSeleccionada('hat')"><button mat-menu-item value="hats" class="categorias-button">Hats</button></a>
    <a routerLink="/categorias" (click)="categoriaSeleccionada('cosmetic')"><button mat-menu-item value="cosmetics"class="categorias-button">Cosmetics</button></a>
    <a routerLink="/categorias" (click)="categoriaSeleccionada('crate')"><button mat-menu-item value="crates" class="categorias-button">Crates</button></a>
    <a routerLink="/categorias" (click)="categoriaSeleccionada('key')"><button mat-menu-item value="keys"class="categorias-button">keys</button></a>
</mat-menu>


</div>

<label id="ofertas-label">Nuestros Productos</label>
<div id="ofertas">
    <ngb-carousel>
  <ng-template ngbSlide>
    <ul class="product-list">
        <li class="product-item"> 
            <button (click)='productoSeleccionado(productos[0].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[0].nombre}}</p>  
                <p>${{productos[0].precio}}</p>
            </mat-card>
            </button >
        </li>
        <li class="product-item">
            <button (click)='productoSeleccionado(productos[1].id)'>
                <mat-card class="product-card"> 
                    <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                    <p>{{productos[1].nombre}}</p>
                    <p>${{productos[1].precio}}</p>
                </mat-card>
            </button >
        </li>
        <li class="product-item">
            <button (click)='productoSeleccionado(productos[2].id)'>
                <mat-card class="product-card"> 
                    <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                    <p>{{productos[2].nombre}}</p>
                    <p>${{productos[2].precio}}</p>
                </mat-card>
            </button >
        </li>
    </ul>
   
  </ng-template>
  <ng-template ngbSlide>
<ul class="product-list">
    <li class="product-item">
        <button (click)='productoSeleccionado(productos[3].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[3].nombre}}</p> 
                <p>${{productos[3].precio}}</p>
            </mat-card>
        </button >
    </li>
    <li class="product-item">
        <button (click)='productoSeleccionado(productos[4].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[4].nombre}}</p>
                <p>${{productos[4].precio}}</p>
            </mat-card>
        </button >
    </li>
    <li class="product-item">
        <button (click)='productoSeleccionado(productos[5].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[5].nombre}}</p> 
                <p>${{productos[5].precio}}</p>
            </mat-card>
        </button >
    </li>
</ul>
  </ng-template>
  <ng-template ngbSlide>
<ul class="product-list">
    <li class="product-item">
        <button (click)='productoSeleccionado(productos[6].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[6].nombre}}</p>
                <p>${{productos[6].precio}}</p>
            </mat-card>
        </button >
    </li>
    <li class="product-item">
        <button (click)='productoSeleccionado(productos[7].id)'>
            <mat-card class="product-card"> 
                <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                <p>{{productos[0].nombre}}</p>
                <p>${{productos[0].precio}}</p>
            </mat-card>
        </button >
    </li>
    <li class="product-item">
        <mat-card class="product-card">
            <button (click)='productoSeleccionado(productos[8].id)'>
                <mat-card class="product-card"> 
                    <img src="../../../assets/img/ghostlyGibus.png" alt="Gibus">
                    <p>{{productos[0].nombre}}</p>  
                </mat-card>
            </button >
        </mat-card>
    </li>
</ul>
  </ng-template>
</ngb-carousel>

<mat-divider></mat-divider>

