*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.registrarse{
  background-color: #bfbfbf;
}
.Rnombre{
  width: 100%;
}
h2{
  text-align: center;
}
.btnregistrarse{
 margin-left: 40%;
 margin-right: auto;
 width: 10%;
 height: 5%;
}