<!--<table *ngIf="busqueda==true">
    <tr>
        <th>Nombre</th>
        <th>descripcion</th>
        <th>stock</th>
        <th>precio</th>
    </tr>
    <tr *ngFor="let item of productos">
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.precio}}</td>
    </tr>
</table>-->
<!--<div class='cartasdiv'*ngIf="busqueda==true">
<ul class='cartas' *ngFor="let item of productos">
    <li>
        <mat-card class='Cardproducto'>
            <mat-card-header class='cardHeader'>
                <mat-card-title>{{item.nombre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content >
                <mat-list>
                    <mat-list-item class='cardContent'>{{item.descripcion}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>items en stock: {{item.stock}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>${{item.precio}} clp</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </li>
</ul>
</div>-->
<div class="productos" *ngIf="busqueda" >
    <div>
    <h1>FILTROS</h1>
    <mat-checkbox class="example-margin" [(ngModel)]="stock">en stock</mat-checkbox>
    <mat-form-field appearance="outline" class="preciomax">
        <mat-label>Precio maximo</mat-label>
        <input matInput type="number" [formControl]='preciomax'>
      </mat-form-field>
      <mat-form-field appearance="outline" class="preciomin">
        <mat-label>Precio minimo</mat-label>
        <input matInput type="number" [formControl]='preciomin'>
      </mat-form-field>
    </div>

    <button mat-button type="submit" (click)="funcion()">Buscar</button>
    <mat-divider></mat-divider>
    <ul class="productos-list">
        <li>
            <mat-card class="productos-card" *ngFor="let item of productos">
            <a><button (click)='productoSeleccionado(item.id)'>
                <div class="producto-descripcion" >
                    <img src="../../../assets/img/ghostlyGibus.png" class="imagen-producto">   
                    <div>{{item.nombre}}</div>
                    <div>${{item.precio}}</div>
                    <div>Stock: {{item.stock}}</div>
                </div>
            </button></a>
            </mat-card>
        </li>
    </ul>
</div>

<div *ngIf="!busqueda">
    No se encontraron resultados.
</div>