/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'TF2';
    src: url('./assets/fonts/TF2.woff2') format('woff2'),
        url('./assets//fonts/TF2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

